@import url('https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { font-family: 'Source Sans Pro', sans-serif;
  color: #C6C7C8;
  background: #1C1E23;
}